html, body {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    background: #f5f5f5;
}

h1 {
    margin: 25px 0;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}

a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    font-weight: 300;
}

div[class^="effect-"] {
    width: 400px;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;    
}

.effect-1 {
    background-color: #f19f0f;
}

.effect-1 a {
	padding: 6px 0 8px;
	color: #fff;
}

.effect-1 a::after {
    content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: rgba(0,0,0,0.1);	
	transform: translateY(10px);
	opacity: 0;
	transition: opacity 0.3s, transform 0.3s;
}

.effect-1 a:hover::after {
	opacity: 1;
	}