

.menu-icon{
	width:85px;
	height:85px;
	margin:100px auto;	
}

.menu-icon span {
    display: block;
    width: 100%;
    height: 12px;
    background-color: #40d47e;
     transition: all 0.7s ease-in-out;
}

.menu-icon span::before,
.menu-icon span::after {
    content: '';
    display: block;
    width: 100%;
    height: 12px;
    background-color: #40d47e;
     transition: all 0.7s ease-in-out;
}

.menu-icon span::before {
    transform: translate(0, -24px);
}

.menu-icon span::after {
    transform: translate(0, 12px);
}

.menu-icon:hover span {
    transform: rotate(180deg);
}

.menu-icon:hover span::before,
.menu-icon:hover span::after {
    width: 60%;
}

.menu-icon:hover span::before {
    transform: translate(45px, -14px) rotate(45deg);
}

.menu-icon:hover span::after {
    transform: translate(45px, 2px) rotate(-45deg);
}